.topText::before {
 
  padding-right: 3rem;
  content: "..................................................";

  color: #404040;
}

.topText::after {
  padding-left: 3rem;
  content: "..................................................";
  color: #404040;
}
.carousel-indicators 
{
     position: absolute;
    top: 44%;
    transform: translateY(-50%);
   
 
}

.carousel-indicators .active {

 height: 5px;
 width: 50px;
  border-radius: 15%;
    background-color: #644F9C !important;
}
.carousel-inner > .item {
    position: relative;
    max-height: 600px;
}
.carousel-caption {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    color:green;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 60px;
  width: 60px;
  outline: #fff;
  background-size: 100%, 100%;
  padding-bottom: 3rem;
  border-radius: 50%;
  border: 1px solid #fff;
  background-image: none;
  margin-top: 36rem;
 
  
}
.carousel-control-prev{
  margin-left: 32rem;
}
.carousel-control-next{
  margin-right: 32rem;
}
.carousel-control-next-icon:after
{
  content: '>';
 
  font-size: 45px;
  color: #644F9C;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 45px;
  color: #644F9C;
}